<div>


  <label>First Name</label>
  <input type="text" [(ngModel)]="firstname" placeholder="Your firstname..">


  <label>Last Name</label>
  <input type="text" [(ngModel)]="lastname" placeholder="Your lastname..">

  <label>Email</label>
  <input type="text" [(ngModel)]="email" placeholder="Your email..">


  <label>Address</label>
  <input type="text" [(ngModel)]="address" placeholder="Your address..">

  <label>City</label>
  <input type="text" [(ngModel)]="city" placeholder="Your City..">

  <label>State</label>
  <input type="text" [(ngModel)]="state" placeholder="Your state..">

  <button (click)="onClick()">Submit</button>
  <button (click)="cancel()">Cancel</button>


</div>
